{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube</title>
    <link rel="icon" type="images/png" href="images/youtube-icon.png">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css" integrity="sha384-3B6NwesSXE7YJlcLI9RpRqGf2p/EgVH8BgoKTaUrmKNDkHPStTQ3EyoYjCGXaOTS" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />  

    <style>
        .message-alert{
            background-color: aqua;
            padding: 14px;
            margin-bottom: 30px;
            border-radius: 10px;
            border: 1px solid green;
        }

        a{
            text-decoration: none;
        }
        
    </style>
</head>
<body>
    <script src="{% static 'js/main.js' %}"></script>
    <!-- header Menu start -->
    <div class="header">
        <div class="header__left">
            <i id="menu" class="material-icons "> menu</i> 
            <img  src="https://www.xda-developers.com/files/2017/08/After-12-Years-Google-Gives-YouTube-a-New-Logo-1900x700_c.png">
        </div>
    <!-- header Menu ends -->

        <!-- header search start -->
        <div class="header__search">
            <form action="">
                <input type="password" placeholder="search">
                <button><i class="material-icons">search</i></button>
            </form>
        </div>
        <!-- header search ends -->

        <!-- header icons start -->
        <div class="header_icons">
            
            <i class="material-icons display-this">search</i>
            <i class="material-icons display-this">videocam</i>
            <i class="material-icons display-this">apps</i>
            <i class="material-icons display-this">notifications</i>
            <i id="drop-down" class="material-icons display-this">account_circle</i></a>
        </div>
        <!-- header icons ends -->
    </div>
    {% include 'partials/alert.html'%}

    <!-- Main Body Starts -->
    <div class="mainBody">
        <div class="sidebar">
            <div class="sidebar__categories">
                
                <!-- Single Category -->
                <a href="index.html">
                    <div class="sidebar__category">
                        <i class="material-icons">home</i>
                        <span>Home</span>
                    </div>
                </a>


                <!-- Single Category -->
                <a href="{% url 'categories' %}">
                    <div class="sidebar__category">
                        <i class="material-icons">play_arrow</i>
                        <h3><span>Categories</span></h3>
                    </div>
                </a>

                <!-- Single Category -->
                <div class="sidebar__category">
                    <i class="material-icons">subscriptions</i>
                    <span>Subscriptions</span>
                </div>
            </div>
            <hr>
            <div class="sidebar__categories">

                

                <!-- Single Category -->
                <a href="channel-videos.html">
                    <div class="sidebar__category">
                        <i class="material-icons">play_arrow</i>
                        <span>Your Videos</span>
                    </div>
                </a>

                <!-- Single Category -->
                <div class="sidebar__category">
                    <i class="material-icons">watch_later</i>
                    <span>Watch Later</span>
                </div>

                <!-- Single Category -->
                <div class="sidebar__category">
                    <i class="material-icons">thumb_up</i>
                    <span>Liked Videos</span>
                </div>
                <hr>
             
            </div>

            <div class="sidebar__categories">

                {% if not request.user.is_authenticated %}
                <a href="{% url 'sign-in' %}">
                    <div class="sidebar__category">
                        <i class="material-icons">login</i>
                        <h3><span>Login</span></h3>
                    </div>
                {% else %}    
                </a>
                <a href="{% url 'sign-out' %}">
                    <div class="sidebar__category">
                        <i class="material-icons">logout</i>
                        <h3><span>Logout</span></h3>
                    </div>
                </a>
                {% endif%}
            </div>
            <hr>
        </div>
        <!-- Sidebar Ends -->
        
        <!-- Video Section Starts -->
        <div class="videos">
            
                {% if messages %}
                    {% for message in messages %}
                    <div class="message-alert">
                    <strong>{{ message }}</strong>
                    </div>
                    {% endfor %}
                {% endif %}
            
            <div class="drop-down-container">
                <h1 style="font-size: 22px;">Recommended</h1>                
                <div class="dropdown-content-background">
                    <div class="dropdown-contents">
                        <div class="dropdown-content">
                            <i class="material-icons">videocam</i>
                            <span>Create</span>
                        </div>
                        <div class="dropdown-content">
                            <i class="material-icons">settings</i>
                            <span>Settings</span>
                        </div>
                        <div class="dropdown-content">
                            <i class="material-icons">person</i>
                            <span>Switch Account</span>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="videos__container">
                <!-- Single Video Starts Here -->
                {% for v in video %}
                <div class="video">
                    <div class="video__thumbnail">
                        <a href="{% url 'video-detail' v.id %}"><img src="{{v.image.url}}" alt=""></a>
                    </div>
                    <div class="video__details">
                        <div class="author">
                            <img src="{{ v.user.channel.image.url }}" alt="">
                        </div>
                        <div class="title">
                            <a href="{% url 'video-detail' v.id %}"><h3>{{v.title|truncatechars:35}}</h3></a>
                            <a href=""><small>{{v.user.channel.channel_name}} <i class="fas fa-check-circle"></i></small></a>
                            <span><small>{{v.views}} Views. {{v.date|timesince}}</small></span>
                        </div>
                    </div>
                </div>
                {% endfor %}

                


            </div>
        </div>    
    </div>

<script src="/static/js/main.js"></script>
</body>
</html>